﻿.appointmentContainer {
    display: inline-block;
}

    .appointmentContainer select {
        width: 18em;
        height: 12em;
    }

.appointmentColumn {
    display: inline-block;
    vertical-align: middle;
}

.appointmentMove {
    text-align: center;
}

label {
    display: inline-block;
    width: 8em;
    text-align: right;
    vertical-align: top;
    padding-right: 1em;
}

    label:after {
        content: " ";
    }

input, select, #appointmentInhoudTextBox {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
}

#appointmentTimeSelect, #appointmentTimeRadio {
    display: inline-block;
    vertical-align: middle;
}

    #appointmentTimeRadio label:after {
        content: "";
    }

.appointmentTimeRadioSmall {
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 2px;
}

ul {
    list-style-type: none;
}

li {
    padding: 4px;
}

.appointmentButtons {
    margin: 3px 10px;
    padding: 2px 30px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #666;
    color: #0171C5;
    text-decoration: none !important;
}

    .appointmentButtons:hover {
        color: white;
        background-color: #0171C5;
    }

    .appointmentButtons:active {
        background-color: #92C0E0;
    }

#appointmentInhoudTextBox {
    display: inline-block;
    width: 500px;
    background-color: white;
    height: 300px;
}

.appointmentTime {
    width: 4em;
}
